<div class="container">
    <div class="row">
        <div class="col-4 shadow p-5 mx-auto">
            <h3 class="text-center">Sign up here</h3>
            <hr>
            <form>
                <input type="text" name="firstName" placeholder="Firstname" class="form-control"> <br/>
                <input type="text" name="lastName" placeholder="Lastname" class="form-control"> <br/>
                <input type="email" name="email" placeholder="email" class="form-control"> <br/>
                <input type="number" name="phone" placeholder="Phone" class="form-control"> <br/>
                <input type="password" name="password" placeholder="password" class="form-control"> <br>

                <button type="submit" class="btn btn-primary btn-block">Submit</button>

            </form>
            <small class="mx-auto">Already have an account? <a routerLink="/signin">Sign in here</a></small>
        </div>
    </div>
</div>