<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class="bx bx-analyse"></i>
    <span class="text">Roland Bank</span>
  </a>
  <ul class="side-menu top">
    <li class="">
      <a routerLink="/">
        <i class="bx bxs-home-circle"></i>
        <span class="text">Home</span>
      </a>
    </li>
    <li class="active">
      <a href="#">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/transfer">
        <i class="bx bx-transfer"></i>
        <span class="text">Transfer</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-money-withdraw"></i>
        <span class="text">Withdraw</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bxs-wallet"></i>
        <span class="text">Fund Wallet</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#">
        <i class="bx bxs-cog"></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a href="#" class="logout" (click)="logOut()">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h3 class="mb-3">Hi {{user.firstName}} 😀</h3>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
      <a href="#" class="btn-download">
        <i class="bx bxs-cloud-download"></i>
        <span class="text">Download Statement of Account</span>
      </a>
    </div>

    <ul class="box-info">
      <li>
        <i class="bx bx-shield-alt-2"></i>
        <span class="text">
          <h3>₦{{user.account_bal}}</h3>
          <p>Main Balance</p>
        </span>
      </li>
      <li>
        <i class="bx bxs-wallet"></i>
        <span class="text">
          <h3>₦250,000</h3>
          <p>Wallet</p>
        </span>
      </li>
      <li>
        <i class="bx bxs-lock-alt"></i>
        <span class="text">
          <h3>{{ user.accountNo }}</h3>
          <p>Account Number</p>
        </span>
      </li>
    </ul>

    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Recent Transactions</h3>
          <i class="bx bx-search"></i>
          <i class="bx bx-filter"></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Account name</th>
              <th>Account number</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img [src]="image" alt="zenith" />
                <p>{{user.firstName}}</p>
              </td>
              <td>
                <p>02389*****</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
            <tr>
              <td>
                <img [src]="image1" alt="zenith" />
                <p>Akingbade Jimoh</p>
              </td>
              <td>
                <p>02389*****</p>
              </td>
              <td>07-14-2022</td>
              <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
              <td>
                <img [src]="image2" alt="zenith" />
                <p>Chigozie Kingsley</p>
              </td>
              <td>
                <p>02389*****</p>
              </td>
              <td>01-02-2022</td>
              <td><span class="status process">Processing</span></td>
            </tr>
            <tr>
              <td>
                <img [src]="image3" alt="zenith" />
                <p>Jessica Pearson</p>
              </td>
              <td>
                <p>02389*****</p>
              </td>
              <td>01-01-2022</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="todo">
        <div class="head">
          <h5>To-do</h5> 
          <input type="text" name="" class="form-control p-2" placeholder="Add" [(ngModel)]="name">
          <button class="btn btn-danger rounded p-2" *ngIf="!editData; else elseBlock" (click)="addTask($event)" [disabled]="!name.length">
            <i class="bx bx-plus"></i>
          </button>
          <ng-template #elseBlock><button class="btn btn-success rounded p-2" (click)="saveChanges()"><i class='bx bx-check'></i></button></ng-template>
        </div>
        <ul class="list-group mx-auto todos" >
          <li class="list-group-item align-items-center p-2 d-flex justify-content-between" *ngFor="let task of allTasks let i = index"> 
            <span>{{task.name}}</span>
            <div>
              <span><i class="far fa-trash-alt delete mx-3 text-danger" (click)="deleteTask(i)"></i></span>
              <span><i class="fas fa-user-edit edit text-primary" (click)="editTask(i)"></i></span>
            </div>
          </li>
      </ul>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
