
 
  
  
  .home {
   
    height: 100vh;
    


  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 50% 50%, rgba(228, 243, 255, 1) 0%, rgba(182, 215, 255, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 50% 50%, rgba(228, 243, 255, 1) 0%, rgba(182, 215, 255, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 50% 50%, rgba(228, 243, 255, 1) 0%, rgba(182, 215, 255, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 50% 50%, rgba(228, 243, 255, 1) 0%, rgba(182, 215, 255, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 50% 50%, rgba(228, 243, 255, 1) 0%, rgba(182, 215, 255, 1) 100%);



    display: flex;
    /* border-radius: 0 0 200px 0; */
    overflow: hidden;
  }
  
  .home-text h1 {
    font-size: 50px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
  }
  
  .home-text p {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    font-weight: 100;
  }
  
  .home .home-btn {
    margin-top: 40px;
  }
  
  .btn-1 {
    background-color: #05149e;
    padding: 12px 30px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-weight: 500;
  }
  
  .btn-1:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .btn-1:hover {
    color: #ffffff;
    background-color: rgb(0, 89, 255);
  }
  
   .home-img img {
    max-width: 550px;
    width: 100%;
     animation: bounceTop_01 3s ease infinite;
  }
    
  @keyframes bounceTop_01 {
    0%,
    100% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(0px);
    }
  }