<section class="home align-items-center">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-7">
                  <div class="home-text">
                      <h1>The better way to bank online</h1>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium cupiditate ea magni labore quidem.</p>
                      <div class="home-btn">
                        <div class="btn btn-1">Create free account</div>
                      </div>
                  </div>
              </div>
              <div class="col-md-5 text-center">
                  <div class="home-img">
                      <img src="../assets/sv.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>

 